{% extends "base.html" %}

{% load i18n %}

{% block content %}
<section>
  <hgroup>
    <h1>{% trans "Password reset" %}</h1>
  </hgroup>

  <form action="." method="post">{% csrf_token %}
    {{ form.email.errors }}
    <p>
      <label for="id_email">
        {% trans 'E-mail address:' %}
      </label>
      {{ form.email }}
      <input type="submit" value="{% trans 'Reset my password' %}" />
    </p>
   </form>

   <p>{% trans "If you didn't provide an email address during the registration process you need to concact the system administrator" %}</p>
</section>
{% endblock %}
