{% extends "base.html" %}

{% load i18n verification_tags %}

{% block content %}
<section>
  <hgroup>
    <h1>{% trans "Domain" %}</h1>
  </hgroup>

  <table class="domains">
    <caption><h2>{% trans "Your domain" %}</h2></caption>
    <thead>
      <tr>
        <th>{% trans "Name" %}</th>
        <th>{% trans "Verified" %}</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <td>{{ domain.name }}</td>
          <td>{{ domain.validated }}</td>
          <td>
            {% verification_button domain %}
          </td>
        </tr>
    </tbody>
  </table>
</section>

{% endblock %}
