{% extends "base.html" %}

{% load i18n verification_tags %}

{% block content %}
<section>
  <hgroup>
    <h1>{{ domain.name }}</h1>
  </hgroup>

  {% if not domain.validated %}
    <p>{% trans "The verification key for this domain is" %} {{ domain.validation_key }}</p>
    <p>{% trans "You can verify your domain by creating a file named as the verification in the root of your domain or by creating a TXT record in your domain containing the verification key" %}</p>
    {% verification_button domain "http" %}
    {% verification_button domain "dns" %}
  {% else %}
    <p>{% trans "This domain has been already verified" %}</p>
  {% endif %}

</section>
{% endblock %}
