{% extends "base.html" %}

{% load i18n %}

{% block content %}
<section class="welcome">
  <header>
    <hgroup>
      <h1>{{ HOME_TITLE }}</h1>
      <h2>{{ HOME_SUBTITLE }}</h2>
    </hgroup>
  </header>

  <form id="search" method="get" action="{% url search_entities %}">
    <input type="text" name="query" id="query" autofocus="autofocus" />
  </form>

  <div class="shadow right clear">
    <div id="filters">
      <h3>{% trans "By something" %}</h3>
      <ul>
        <li class="current"><a href="#">{% trans "All" %}</a></li>
        <li><a href="#">Item 1</a></li>
        <li><a href="#">Item 2</a></li>
        <li><a href="#">Item 3</a></li>
      </ul>

      <h3>{% trans "By something else" %}</h3>
      <ul>
        <li class="current"><a href="#">{% trans "All" %}</a></li>
        <li><a href="#">Item 1</a></li>
        <li><a href="#">Item 2</a></li>
        <li><a href="#">Item 3</a></li>
      </ul>
    </div>
  </div>

  <section id="home-content" class="mainContent">
    <ul>
      {% for entity in entities %}
      <li><a href="{{ entity.get_absolute_url }}">{{ entity }}</a></li>
      {% endfor %}
    </ul>

    <p><a class="button" href="{% url entities_list %}">{% trans "Full list of entities" %}</a></p>
  </section>

</section>

{% endblock %}
