body {
    color: #7d7d7d;
    background-color: #e6e6e4;
}

h1 {
    color: #1631bc;
    text-shadow: 1px 1px 0 #F3F4F3;
}

header#header h1 a {
    color: #1631bc;
}

a {
    color: #5669ce;
}

.shadow {
    background-color: #dbdbd9;
}

section,
fieldset {
    border-top: 1px solid #BFC7ED;
}

nav ul,
#filters {
    border: 1px solid #d3d3d3;
    background-color: #ffffff;
}

nav ul li {
    border-bottom: 1px solid #E0E0E0;
}

nav ul li a {
    color: #6e6e6e;
}

nav ul li a:hover {
    color: #e56e2e;
}

label {
    color: #1631bc;
}

header#header hgroup h2 a {
    color: #535353;
    text-shadow: 1px 1px 0 #F3F4F3;
}

.welcome header {
    border: 1px solid #c3c3c3;
}

#filters ul li.current a  {
    color: #5669ce;
}

.welcome header h1 {
    color: #ff7b33;
    text-shadow: 0.5px 0.5px 0 #e5e5e5;
}

.welcome header h2 {
    color: #b0b0b0;
    text-shadow: 0.5px 0.5px 0 #e5e5e5;
}

section ul li,
#home-content ul li {
    border-bottom: 1px solid #c5c7c6;
    box-shadow: 0px 1px 0 white;
}

#home-content #filters ul li {
    border: none;
}

section ul li a ,
#home-content ul li a {
    border: 5px solid transparent;
}

section ul li a.hover,
#home-content ul li a:hover {
    background-color: #FFF;
    border: 5px solid #f0f0ef;
    opacity: 0.75;
}

#search input {
    border: 1px solid #c3c3c3;
    background-color: #fbfbfb;
}

#filters h3 {
    color: #ff7b33;
}

#filters ul li.current a {
    border-left: 4px solid #5669ce;
}

footer {
    border-top: 1px solid #1631bc;
}

footer:after {
   border-top: 1px solid white;
} 

footer ul li:first-child a {
    border-left: none;
}

footer ul li:last-child a {
    border-right: none;
}

footer ul li {
    border-top: 4px solid #95A1E1;
}

footer ul li a {
    color: #7a7a7a;
    border-top: 1px solid white;
    border-right: 1px solid #999999;
    border-left: 1px solid white;
    text-shadow: 0.5px 0.5px 0 #FFF;
}