.clear {
    clear: both;
}

.left {
    float: left;
}

.right {
    float: right;
    margin: 34px 40px 0 0;
}

.shadow {
    padding: 10px;
}

body {
    max-width: 1024px;
    padding: 0 30px;
    margin: 0 auto;
    font-family: "helvetica neue", Helvetica, sans-serif;
    font-size: 11pt;
    background-image:  url(../images/light_content_bg.png), url(../images/body_bg.png);
    background-position: 222px 90px, left top;
    background-repeat: no-repeat, repeat;
}

#header {
    background: url(../images/header_bg.png) left top no-repeat;
    width: 100%;
    height: 105px;
}

p {
    margin: 0.5em 0;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 16pt;
    margin: 0.5em 0;
    font-weight: normal;
}

h2 {
    font-size: 12pt;
    margin: 0.5em 0;
}

section {
    clear: both;
    padding-bottom: 10px;
}

nav ul {
    padding: 12px 12px 39px;
    width: 176px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    list-style: none;
    background: url(../images/actions_ribbon.png) no-repeat center bottom;
}

nav ul li {
    padding: 8px 0;
}

nav ul li:last-child {
    border-bottom: none;
    padding-bottom: 0;
}

nav ul li a {
    text-decoration: none;
}

label {
    display: block;
    font-weight: bold;
    margin-top: 1em;
}

fieldset {
    border: none;
    padding: 0 0 1em 0;
}

.actionRow {
    padding: 1em 0;
}

.helptext {
    display: block;
    font-size: 9pt;
}

header hgroup {
    float: left;
}

header #user-actions {
    float: right;
}

#user-actions {
    list-style: none;
    margin: 58px 40px 0 0;
}

#user-actions li {
    display: block;
    float: left;
    margin-right: 1em;
}

header#header hgroup {
    padding: 28px 0 0 68px;
    margin-left: 40px;
    background: transparent url(../images/logo_peer.png) no-repeat left 21px;
}

header#header h1 {
    margin-bottom: 0;
}

header#header h1 a {
    display: block;
    font-weight: normal;
    font-size: 17px;
    padding: 3px 0 0 1px;
    letter-spacing: 0.8px;
}

header#header hgroup h2 {
    font-weight: normal;
    margin: 3px 0 6px;
    letter-spacing: 0.4px;
    font-size: 13px;
}

.welcome {
    border-top: none;
}

.welcome header {
    overflow: auto;
    border-radius: 9px;
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px;
    background: transparent url(../images/welcome_repeat_back.png) repeat-x left top;
}

.welcome hgroup {
    padding: 24px;
    width: 969px;
    height: 226px;
    background: transparent url(../images/welcome_back.png) no-repeat right top;
}

.welcome header h1 {
    font-size: 40pt;
    line-height: 29pt;
    letter-spacing: 0.7pt;
    margin-top: 85px;
    margin-bottom: 15px;
}

.welcome header h1, .welcome header h2 {
    font-weight: normal;
}

.welcome header h2 {
    font-size: 20pt;
    line-height: 21pt;
    width: 390px;
}

.mainContent {
    clear: left;
    border: none;
    margin: 34px 260px 0 40px;
    padding-left: 20px;
}

#home-content {
    border-top: none;
    margin-bottom: 1em;
}

section ul,
#home-content ul {
    list-style: none;
    margin: 0 1em 1em 0;
}

section ul li a,
#home-content ul li a {
    display: block;
    padding: 1em 0 0.5em 1em;
}


#search {
    margin-top: 15px;
    margin-bottom: 15px;
    float: right;
}

#search input {
    background: transparent url(../images/search-icon.png) no-repeat 198px center;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    padding: 0 18px 0 2px;
    width: 195px;
}

#filters {
    padding: 12px;
    width: 176px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

#filters h3 {
    font-size: 10pt;
    font-style: italic;
    font-weight: normal;
    margin: 1em 0 0.8em 0;
}

#filters ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#filters ul li a {
    padding: 0 0 0 8px;
    font-size: 11px;
}

#filters ul li {
    line-height: 18px;
    border: none;
}

#filters ul li.current a {
    padding: 2px 4px;
}

#filters ul li.current {
    border: none;
}

footer {
    clear: both;
    width: 940px;
    margin: 0 auto;
    font-size: 10px;
    text-shadow: 0.5px 0.5px 0 #F3F4F3;

}

footer ul {
    list-style: none;
    margin: 0 0 0 10px;
    padding: 0;
}

footer ul li {
    float: left;
    padding: 6px 0;
}

footer ul li a {
    text-decoration: none;
    padding: 0 10px;
}

footer ul li:last-child a {
    border-right: none;
}


/* Styles for specific views */

.domainList {
    list-style: none;
    margin-left: 20px;
}

.domainList li {
    margin: 10px 0;
    font-weight: bold;
}

.domainList li p {
    font-weight: normal;
}

.domainList ul {
    list-style: none;
    margin-left: 20px;
}

.domainList ul li {
    font-weight: normal;
    margin: 5px 0;
    list-style: disc;
}

/* Ui styles modifications */
.ui-widget {
    font-size: 12px;
}

.accordion input[type=text], .accordion textarea {
    width: 80%;
}

.ui-button-text-only .ui-button-text {
    padding: 0.1em 0.6em;
}
