.clear {
    clear: both;
}

.left {
    float: left;
}

.right {
    float: right;
}

.shadow {
    padding: 10px;
}

body {
    max-width: 1024px;
    padding: 0 30px;
    margin: 0 auto;
    font-family: "helvetica neue",arial;
    font-size: 11pt;
}

p {
    margin: 0.5em 0;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 16pt;
    margin: 0.5em 0;
}

h2 {
    font-size: 12pt;
    margin: 0.5em 0;
}

section {
    clear: both;
    padding-bottom: 10px;
}

nav ul {
    padding: 12px;
    width: 176px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    list-style: none;
}

nav ul li {
    padding: 6px 0;
}

nav ul li:last-child {
    border-bottom: none;
    padding-bottom: 0;
}

nav ul li a {
    text-decoration: none;
}

label {
    display: block;
    font-weight: bold;
    margin-top: 1em;
}

fieldset {
    border: none;
    padding: 0 0 1em 0;
}

.actionRow {
    padding: 1em 0;
}

.helptext {
    display: block;
    font-size: 9pt;
}

header hgroup {
    float: left;
}

header #user-actions {
    float: right;
}

#user-actions {
    list-style: none;
    margin-top: 78px;
}

#user-actions li {
    display: block;
    float: left;
    margin-right: 1em;
}

a.button {
    display: block;
    width: 106px;
    text-align: center;
    line-height: 20px;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

header#header h1 a {
    display: block;
    font-weight: normal;
    font-size: 18pt;
    padding: 40px 0 20px 70px;
    background: transparent url(../images/logo_peer.png) no-repeat left top;
}

header#header hgroup h2 {
    font-weight: normal;
    margin: -21px 0 6px 1em;
}

.welcome {
    border-top: none;
}

.welcome header {
    overflow: auto;
    border-radius: 9px;
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px;
    background: transparent url(../images/welcome_repeat_back.png) repeat-x left top;
}

.welcome hgroup {
    padding: 24px;
    width: 969px;
    height: 226px;
    background: transparent url(../images/welcome_back.png) no-repeat right top;
}

.welcome header h1 {
    font-size: 40pt;
    line-height: 29pt;
    letter-spacing: 0.7pt;
    margin-top: 85px;
    margin-bottom: 15px;
}

.welcome header h1, .welcome header h2 {
    font-weight: normal;
}

.welcome header h2 {
    font-size: 20pt;
    line-height: 21pt;
    width: 390px;
}

.mainContent {
    margin-right: 240px;
    clear: left;
}

#home-content {
    border-top: none;
    margin-bottom: 1em;
}

#home-content ul {
    list-style: none;
    margin: 0 1em 1em 0;
}

#home-content ul li {
    display: block;
    padding: 1em 0 0.5em 1em;
}


#search {
    margin-top: 15px;
    margin-bottom: 15px;
    float: right;
}

#search input {
    background: transparent url(../images/search-icon.png) no-repeat 198px center;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    padding: 0 18px 0 2px;
    width: 195px;
}

#filters {
    padding: 12px;
    width: 176px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

#filters h3 {
    font-size: 10pt;
    font-style: italic;
    font-weight: normal;
    margin: 1em 0 0.8em 0;
}

#filters ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#filters ul li a {
    padding-left: 8px;
}

#filters ul li {
    line-height: 18px;
}

#filters ul li.current a {
    padding-left: 4px;
}

footer {
    clear: both;

}

footer ul {
    list-style: none;
    margin: 0 0 0 10px;
    padding: 0;
}

footer ul li {
    float: left;
    padding: 6px 0;
}

footer ul li a {
    text-decoration: none;
    padding: 0 10px;
}

footer ul li:last-child a {
    border-right: none;
}


/* Styles for specific views */

.domainList {
    list-style: none;
    margin-left: 20px;
}

.domainList li {
    margin: 10px 0;
    font-weight: bold;
}

.domainList li p {
    font-weight: normal;
}

.domainList ul {
    list-style: none;
    margin-left: 20px;
}

.domainList ul li {
    font-weight: normal;
    margin: 5px 0;
    list-style: disc;
}

.accordion input[type=text], .accordion textarea {
    width: 80%;
}
