{% extends "base.html" %}

{% load i18n account verification_tags %}

{% block content %}
<section>
  {% include "account/menu.html" %}

  <hgroup>
    <h1>{% trans "Welcome" %}, {% safefullname user %}</h1>
    <h2>{% trans "Your domains and entities" %}</h2>
  </hgroup>

  <ul class="domainList">
    {% for domain in domains %}
    <li{% if domain.validated %} class="validated"{% endif %}>
      {{ domain }}
      {% if not domain.validated %}
        {% verification_button domain %}
        <p>{% trans "Tip: you must verify the ownership of this domain in order to add entities associated with it" %}</p>
      {% else %}
        <ul>
          {% for entity in domain.entity_set.all %}
          <li><a href="{{ entity.get_absolute_url }}">{{ entity }}</a></li>
          {% endfor %}
        </ul>
      {% endif %}
    </li>
    {% endfor %}
  </ul>

</section>
{% endblock %}
