{% load i18n %}

<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>PEER</title>
    <meta name="description" content="Public Endpoint Entities Registry">
    <meta name="author" content="Terena">
    <link rel="shortcut icon" href="{{ STATIC_URL }}favicon.ico">
  </head>

  <body>
    <div class="header">
      <div id="user-actions">
        {% block user_actions %}
          {% if user.is_anonymous %}
            <a href="{% url registration_register %}">{% trans "Sing up" %}</a> |
            <a href="{% url auth_login %}">{% trans "Sing in" %}</a>
          {% else %}
            <a href="{% url auth_logout %}">{% trans "Logout" %}</a>
          {% endif %}
        {% endblock %}
      </div>
    </div>
    {% block content %}
    {% endblock %}
  </body>

</html>
