{% load i18n %}<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>PEER</title>
    <meta name="description" content="Public Endpoint Entities Registry">
    <meta name="author" content="Terena">
    <link rel="shortcut icon" href="{{ STATIC_URL }}favicon.ico">
  </head>

  <body>
    <header>
      {% block header %}
      <hgroup>
        <h1>PEER</h1>
        <h2>{% trans "Public Endpoint Entities Registry" %}</h2>
      </hgroup>

      <ul id="user-actions">
        {% block user_actions %}
          {% if user.is_anonymous %}
            <li><a href="{% url registration_register %}">{% trans "Sing up" %}</a></li>
            <li><a href="{% url auth_login %}">{% trans "Sing in" %}</a></li>
          {% else %}
            <li><a href="{% url auth_logout %}">{% trans "Logout" %}</a></li>
          {% endif %}
        {% endblock %}
      </ul>

      {% endblock %}
    </header>

    {% block content %}
    {% endblock %}

    <footer>
      {% block footer %}{% endblock %}
    </footer>
  </body>

</html>
