{% extends "base.html" %}

{% load i18n %}

{% block content %}
{% include "entity/menu.html" %}
<section class="mainContent">

  <hgroup>
    <h1>{% trans "Edit metadata" %}</h1>
    <h2>{{ entity.name }}</h2>
  </hgroup>

  <div class="accordion">

    <h3{% ifequal activate "text" %} class="active"{% endifequal %}>
      <a href="#">{% trans "By text editing ..." %}</a></h3>
    <div>{{ text_html|safe }}</div>

    <h3{% ifequal activate "upload" %} class="active"{% endifequal %}>
      <a href="#">{% trans "By uploading a file ..." %}</a></h3>
    <div>{{ file_html|safe }}</div>

    <h3{% ifequal activate "remote" %} class="active"{% endifequal %}>
      <a href="#">{% trans "By fetching a remote URL ..." %}</a></h3>
    <div>{{ remote_html|safe }}</div>

  </div>
</section>
{% endblock %}

{% block extrajs %}
<script type="text/javascript">
(function($) {
    $(document).ready(function(){
        $(".accordion").accordion({active: ".active"});
    });
})(jQuery);
</script>
{% endblock %}
