{% extends "base.html" %}

{% load i18n %}

{% block content %}
<section id="edit_metadata">
    <div id="accordion">

        <h3><a href="#">{% trans "Edit text" %}</a></h3>
        <div>{{ text_html|safe }}</div>

        <h3><a href="#">{% trans "Upload file" %}</a></h3>
        <div>{{ file_html|safe }}</div>

        <h3><a href="#">{% trans "Remote file" %}</a></h3>
        <div>{{ remote_html|safe }}</div>
    
    </div>
    <form><input type="hidden" id="active_fold" value="{{ activate }}" /></form>
</section>
{% endblock %}

{% block extrajs %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.accordion.js"></script>
{% endblock %}
