{% extends "base.html" %}

{% load i18n %}

{% block extracss %}
{% endblock %}

{% block content %}
{% include "entity/menu.html" %}
<section class="mainContent">

  <hgroup>
    <h1>{% trans "Team permissions for " %}"{{ entity.name }}"</h1>
    {% if entity.owner.get_full_name %}
      <p>Owned by {{ entity.owner.username }} ({{ entity.owner.get_full_name }})</p>
    {% else %}
      <p>Owned by {{ entity.owner.username }}</p>
    {% endif %}
  </hgroup>

  <div id="searchusers-box">
    <form>
      <label for="q">{% trans "Search users" %}</label>
      <input type="text"
             name="q"
             id="q"
             />

      <button type="button"
              id="add-delegate"
              class="button"
              disabled>
        {% trans "Add" %}
      </button>

      <input type="hidden"
             name="entity_id"
             id="entity_id"
             value="{{ entity.id }}"
             />
    </form>
  </div>

  <div id="delegates-list"></div>

  <div>
    <p class="invitation">{% trans "Don't find your colleague?" %}</p>
    <a class="button" href="{% url invite_friend %}">{% trans "Invite him to peer!" %}</a>
  </div>

</section>
{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.entityperms.js"></script>
<script type="text/javascript">
(function($) {
    $(document).ready(function(){
        $.fn.load_delegates('{{ entity.pk }}');
        $('#q').autocomplete({source: '/accounts/search_users_auto/',
                              select: $.fn.enable_add_delegate,});
        $('#q').keydown($.fn.disable_add_delegate);
        $('button#add-delegate').click($.fn.add_selected_delegate);
        $('div#searchusers-box form').submit($.fn.select_first_user);
        $('ul#messages').css('display', 'none');
    });
})(jQuery);
</script>
{% endblock %}
